# Get these from USSF:
USSF_AUTH0_CLIENT_ID=
USSF_AUTH0_CLIENT_SECRET=
USSF_AUTH0_DOMAIN=

# Create your own cookie secret. This is used to encrypt the auth0 cookie.
# This can be generated using `openssl rand -hex 32` from your shell.
USSF_AUTH0_COOKIE_SECRET=

# Specify the schema (HTTP/HTTPS) and domain for your app.
# If blank, UssfAuth will make its best guess.
# Example: http://my-app.fakeorganization.org
APP_URL=

# This should be the route to the "callback" endpoint.
# This is where users will be directed to in your app in order to complete
# the Auth0 exchange.
USSF_AUTH0_CALLBACK_ROUTE=/callback.php


# (Optional) This should be the route that the user will be sent to
# after logging out of the app via `UssfAuth::logout()`
USSF_AUTH0_REDIRECT_URI=